.card {
  border: 2px solid var(--primary);
  padding: 8px;
  border-radius: 8px;
}

p {
  text-align: center;
  margin: 1px;
}

.label {
  font-weight: 300;
  color: var(--text-light);
}

.value {
  font-weight: 600;
}

@media (max-width: 768px) {
  .card {
    width: 100%;
    box-sizing: border-box;
  }
}
