header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.title {
  background-color: var(--primary);
  padding: 5px 10px;
  color: white;
  border-radius: 6px;
  font-weight: 300;
  user-select: none;
  margin-bottom: 10px;
}

a {
  color: var(--primary);
}
